<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="resources/css/index.css">
</head>

<body class="text-center">
  <div class="home">
    <h1>Página de Inicio</h1>

    <% if (login) { %>
      <div class="slideInLeft">
        <h2>Bienvenido,
          <strong>
            <%= name %>...
          </strong>
        </h2>
      </div>

      <a href="logout" class="a-logout btn">Logout</a>
      <%} else { %>
        <h1><strong>
            <%= name %>
          </strong></h1>
        <a href="login" class="a-login">Ir a Login</a>
        <% } %>
  </div>
</body>

</html>